<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/album.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
<header th:include="fragments/headers.html :: headers"></header>
<main role="main">
    <div class="container">
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "/filter/auctions",
                    contentType: 'application/json',
                    async: true,
                    data: JSON.stringify({}),
                    success: function (data) {
                        let auctions = JSON.parse(JSON.stringify(data));
                        let block = '';
                        for (let i = 0; i < auctions.length; i++) {
                            let auction = auctions[i];
                            block += auctionGenBlock(auction);
                        }
                        $("#auctions").append(block);

                        function auctionGenBlock(auction) {
                            let block = '<div class="col-sm-3" style="margin: 3%;"><div class="card">';
                            block += '  <img class="card-img-top" src="' + auction.item.medias[0].imageUrl + '" alt="Card image cap"/>';
                            block += '  <div class="card-body">';
                            block += '      <h5 class="card-title">Auction of ' + auction.item.title + '</h5>';
                            block += '      <p class="card-text">Auction status: ' + auction.status + '</p>';
                            block += '      <p class="card-text">Current price: ' + auction.currentPrice + ' $</p>';
                            block += '      <p class="card-text"><small class="text-muted">Last updated: ' + auction.updated.replace("T", " ").replace(".000+0000", "") + '</small></p>';
                            block += '      <p class="card-text"><a href="/bids/view/' + auction.id + '" class="btn btn-success">Put bid</a></p>';
                            block += '  </div>';
                            block += '</div></div>';

                            return block;
                        }
                    },
                    error: function (err) {
                        alert(err.responseText);
                        console.log(err)
                    }
                });


                $("#searchAuctions").click(function () {
                    let filterTitle = $("#filter-title").val();
                    let filterFrom = $("#filter-from").val();
                    let filterTo = $("#filter-to").val();
                    let filterPrice = $("#filter-price").val();
                    let status = $("#status").val();
                    let categories = [];
                    let materials = [];
                    let genres = [];

                    $("input[name=categories]").each(function () {
                        if ($(this).is(":checked")) {
                            categories.push($(this).val())
                        }
                    });

                    $("input[name=materials]").each(function () {
                        if ($(this).is(":checked")) {
                            materials.push($(this).val())
                        }
                    });

                    $("input[name=genres]").each(function () {
                        if ($(this).is(":checked")) {
                            genres.push($(this).val())
                        }
                    });

                    $.ajax({
                        type: "POST",
                        url: "/filter/auctions",
                        contentType: 'application/json',
                        async: true,
                        data: JSON.stringify({
                            "started": filterFrom,
                            "end": filterTo,
                            "item": {
                                "title": filterTitle,
                                "price": filterPrice,
                                "categories": categories,
                                "materials": materials,
                                "genres": genres,
                            },
                            "status": status,
                        }),
                        success: function (data, status, xhr) {
                            if (xhr.status >= 400) {
                                alert(data.responseText);
                                return;
                            }
                            $("#auctions").empty();
                            let auctions = JSON.parse(JSON.stringify(data));
                            let block = '';
                            for (let i = 0; i < auctions.length; i++) {
                                let auction = auctions[i];
                                block += auctionGenBlock(auction);
                            }
                            $("#auctions").append(block);

                            function auctionGenBlock(auction) {
                                let block = '<div class="col-sm-3" style="margin: 3%;"><div class="card">';
                                block += '  <img class="card-img-top" src="' + auction.item.medias[0].imageUrl + '" alt="Card image cap"/>';
                                block += '  <div class="card-body">';
                                block += '      <h5 class="card-title">Auction of ' + auction.item.title + '</h5>';
                                block += '      <p class="card-text">Auction status: ' + auction.status + '</p>';
                                block += '      <p class="card-text">Current price: ' + auction.currentPrice + ' $</p>';
                                block += '      <p class="card-text"><small class="text-muted">Last updated: ' + auction.updated.replace("T", " ").replace(".000+0000", "") + '</small></p>';
                                block += '      <p class="card-text"><a href="/bids/view/' + auction.id + '" class="btn btn-success">Put bid</a></p>';
                                block += '  </div>';
                                block += '</div></div>';

                                return block;
                            }
                        },
                        error: function (err) {
                            alert(err.responseText);
                            console.log(err);
                        }
                    });
                });

                $("#filter-price").change(function () {
                    $("#price").html($(this).val())
                });

                $("#detailsCategories").click(function () {
                    let open = $(this).attr('open');
                    if (typeof open !== typeof undefined && open !== false) {
                        $(this).css('margin-bottom', '30px');
                    } else {
                        $(this).css('margin-bottom', '500px');
                    }
                });
                $("#detailsMaterials").click(function () {
                    let open = $(this).attr('open');
                    if (typeof open !== typeof undefined && open !== false) {
                        $(this).css('margin-bottom', '30px');
                    } else {
                        $(this).css('margin-bottom', '500px');
                    }
                });
                $("#detailsGenres").click(function () {
                    let open = $(this).attr('open');
                    if (typeof open !== typeof undefined && open !== false) {
                        $(this).css('margin-bottom', '30px');
                    } else {
                        $(this).css('margin-bottom', '500px');
                    }
                });
            });
        </script>
        <script th:replace="fragments/dictionaries.html :: dictionaries"></script>
        <script>
            $(document).ready(function () {
                let fun = function (e, id, valueName) {
                    return '<li><label class="form-check-label"><input class="form-check-input" type="checkbox" value="' + e[valueName] + '" name="' + id + '" id="' + e.id + '"/>' + e[valueName] + '</label></li>';
                };

                getDictionaries('/dictionary/category', 'categories', 'category', fun);
                getDictionaries('/dictionary/genre', 'genres', 'genre', fun);
                getDictionaries('/dictionary/material', 'materials', 'material', fun);
            });
        </script>
        <div class="row" style="margin-bottom: 30px; margin-top: 15px;">
            <div class="col-sm-3">
                <label for="status">Status</label>
                <select id="status" class="form-control" name="status">
                    <option selected value="ACTIVE">Active</option>
                    <option value="FINISHED">Finished</option>
                    <option value="ABANDONED">Abandoned</option>
                    <option value="ALL">All</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="filter-title">Title</label><input id="filter-title" class="form-control"
                                                              name="title"
                                                              type="text" placeholder="Title of item">
            </div>
            <div class="col-sm-3">
                <label for="filter-from">Date from</label><input id="filter-from" class="form-control"
                                                                 name="from"
                                                                 type="date" placeholder="From">
            </div>
            <div class="col-sm-3">
                <label for="filter-to">Date to</label><input id="filter-to" class="form-control" name="to"
                                                             type="date"
                                                             placeholder="To">
            </div>
            <div class="col-sm-3">
                <label for="filter-price">Price range: <span id="price"></span></label><input id="filter-price"
                                                                                              type="range"
                                                                                              class="custom-range"
                                                                                              name="price" min="0"
                                                                                              max="1000000"
                                                                                              step="1">
            </div>
            <div class="col-sm-3">
                <details class="form-control" id="detailsCategories">
                    <summary>Categories</summary>
                    <ul id="categories">
                    </ul>
                </details>
            </div>
            <div class="col-sm-3">
                <details class="form-control" id="detailsGenres">
                    <summary>Genres</summary>
                    <ul id="genres">
                    </ul>
                </details>
            </div>
            <div class="col-sm-3">
                <details class="form-control" id="detailsMaterials">
                    <summary>Materials</summary>
                    <ul id="materials">
                    </ul>
                </details>
            </div>
            <div class="col-sm-3">
                <button id="searchAuctions" class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            type: 'POST',
                            url: "/filter/items",
                            contentType: 'application/json',
                            data: JSON.stringify({
                                onlyMy: true
                            }),
                            async: true,
                            success: function (data, status, xhr) {
                                if (xhr.status >= 400) {
                                    alert(data.responseText);
                                    return;
                                }
                                let items = JSON.parse(JSON.stringify(data));
                                let itemsEl = $("#items");
                                if (items.length > 0) {
                                    for (let i = 0; i < items.length; i++) {
                                        let item = items[i];
                                        itemsEl.append('<option value="' + item.id + '">' + item.title + '</option>');
                                    }
                                } else {
                                    itemsEl.append('<option value="">None</option>');
                                }

                            },
                            error: function (err) {
                                alert(err.responseText);
                                console.log(err);
                            }
                        })
                    });
                </script>
                <label for="items">Choose item which you want to put on an auction</label>
                <select class="form-control" id="items">
                </select>
            </div>
            <div class="col-sm-3">
                <label for="end">Duration in minutes</label><select class="form-control" id="end">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                <option>55</option>
                <option>60</option>
            </select>
            </div>
            <script>
                $(document).ready(function () {
                    $("#putUp").click(function () {
                        let end = $("#end").val();
                        let item = $("#items").val();
                        if (end === '' || undefined || null) {
                            alert('Enter end date');
                            return;
                        }

                        if (item === '' || undefined || null) {
                            alert('Choose item from list, if it is empty, add item firstly');
                            return;
                        }
                        let timestamp = new Date(new Date().getTime() + end * 60000);
                        $.ajax({
                            type: "POST",
                            url: "/auctions",
                            contentType: 'application/json',
                            async: true,
                            data: JSON.stringify({
                                "end": timestamp,
                                "item": {
                                    "id": item,
                                },
                            }),
                            success: function (data, status, xhr) {
                                if (xhr.status >= 400) {
                                    alert(data.responseText);
                                    return;
                                }
                                alert('Created');
                                window.location.href = '/auction';
                            },
                            error: function (err) {
                                alert(err.responseText);
                                console.log(err);
                            }
                        });
                    });
                });
            </script>
            <div class="col-sm-3">
                <button id="putUp" type="button" class="btn btn-primary">Put up for auction</button>
            </div>
        </div>
        <div id="auctions" class="row"></div>
    </div>
</main>
<footer th:include="fragments/footer.html :: footer"></footer>
</body>
</html>