<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/carousel.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/album.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
<header th:replace="fragments/headers.html :: headers"></header>
<main role="main" style="margin-top: 100px;">
    <script>
        $(document).ready(function () {
            //let userId = /*[[${userId}]]*/ 'none';
            $.ajax({
                type: 'GET',
                url: "/users/who",
                contentType: 'application/json',
                async: true,
                success: function (data, status, xhr) {
                    if (xhr.status !== 200) {
                        alert(data.responseText);
                        return;
                    }

                    let user = JSON.parse(JSON.stringify(data));
                    //$("#id").text("user.id");
                    $("#username").text(user.username);
                    $("#email").text(user.email);
                    $("#desc").val(user.description);
                    $("#registered").text(user.settings.registered.replace("T", " ").replace(".000+0000", ""));

                    if (user.hasAvatar) {
                        let url ='/users/avatar';
                        $("#avatar").attr('src', url);
                    }
                },
                error: function (err) {
                    alert(err.responseText);
                    console.log(err)
                }
            });

            $("#updateDesc").click(function () {
                $.ajax({
                    type: 'PUT',
                    url: "/users/description",
                    contentType: 'application/json',
                    async: true,
                    data: JSON.stringify({
                        description: $("#desc").val()
                    }),
                    success: function (data, status, xhr) {
                        if (xhr.status !== 200) {
                            alert(data.responseText);
                        } else {
                            alert(status)
                        }
                    },
                    error: function (err) {
                        alert(err.responseText);
                        console.log(err)
                    }
                });
            });
        });
    </script>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4>My profile</h4>
                <img id="avatar" height="122" width="122" th:src="@{/img/icon-avatar-default.png}" alt="Generic placeholder image"/>
                <div class="card bg-light">
                    <div class="card-header"><b>Email: </b><span id="email"></span></div>
                    <div class="card-header"><b>Username: </b><span id="username"></span></div>
                    <div class="card-body">
                        <h5 class="card-title"><b>Description: </b></h5>
                        <textarea class="form-control" id="desc"></textarea>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small id="registered" class="text-muted"></small></p>
                        <button type="button" id="updateDesc" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>

        </div>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: 'POST',
                    url: "/filter/items",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        onlyMy: true
                    }),
                    async: true,
                    success: function (data, status, xhr) {
                        if (xhr.status !== 200) {
                            alert(data.responseText);
                            return;
                        }

                        let items = JSON.parse(JSON.stringify(data));
                        let itemsEl = $("#items");

                        if (items.length === 0) {
                            itemsEl.append('<div class="pagination-centered">There are no items yet</div>');
                            return;
                        }

                        let block = '<div class="row">';
                        for (let i = 0; i < items.length; i++) {
                            let item = items[i];
                            block += genItemBlock(item);
                        }
                        block += '</div>';
                        itemsEl.append(block);

                        function genItemBlock(item) {
                            return '<div class="col-lg-4">'
                                + '<img class="img-responsive" src="' + item.medias[0].imageUrl + '" alt="Generic placeholder image" width="140" height="140"/>'
                                + '<h2>' + item.title + '</h2>'
                                + '<p>' + item.description + '</p><br>'
                                + '<p>' + item.price + '</p><br>'
                                + ' <p><a id="viewItem" class="btn btn-secondary" href="/items/view/' + item.id + '" role="button">View details</a></p>'
                                + '</div>';
                        }
                    },
                    error: function (err) {
                        alert(err.responseText);
                        console.log(err);
                    }
                })
            });
        </script>
        <hr>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4>My Items</h4>
                <div id="items">
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <script th:replace="fragments/dictionaries.html :: dictionaries"></script>
        <script>
            $(document).ready(function () {
                let fun = function (e, id, valueName) {
                    return '<li><label class="form-check-label"><input class="form-check-input" type="checkbox" value="'+ e[valueName] +'" name="' + id + '" id="' + e.id + '"/>' + e[valueName] + '</label></li>';
                };

                getDictionaries('/dictionary/category', 'categories', 'category', fun);
                getDictionaries('/dictionary/genre', 'genres', 'genre', fun);
                getDictionaries('/dictionary/material', 'materials', 'material', fun);
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#createItem").click(function () {
                    let title = $("#title").val();
                    let description = $("#description").val();
                    let price = $("#price").val();
                    let medias = $("#medias").val();

                    let categories = [];
                    let materials = [];
                    let genres = [];

                    $("input[name=categories]").each(function () {
                        if ($(this).is(":checked")) {
                            categories.push($(this).val())
                        }
                    });

                    $("input[name=materials]").each(function () {
                        if ($(this).is(":checked")) {
                            materials.push($(this).val())
                        }
                    });

                    $("input[name=genres]").each(function () {
                        if ($(this).is(":checked")) {
                            genres.push($(this).val())
                        }
                    });

                    if (title === '' || undefined || null) {
                        alert("Fill title");
                        return;
                    }

                    if (description === '' || undefined || null) {
                        alert("Fill description");
                        return;
                    }

                    if (price === '' || undefined || null) {
                        alert("Fill price");
                        return;
                    }

                    if (medias === '' || undefined || null) {
                        alert("Fill url");
                        return;
                    }

                    if (categories.length === 0) {
                        alert("Choose any category");
                        return;
                    }


                    if (materials.length === 0) {
                        alert("Choose any material");
                        return;
                    }


                    if (genres.length === 0) {
                        alert("Choose any genre");
                        return;
                    }


                    $.ajax({
                        type: 'POST',
                        url: "/items",
                        contentType: 'application/json',
                        async: true,
                        data: JSON.stringify({
                            title: title,
                            description: description,
                            price: price,
                            medias: [{imageUrl: medias, category: 'MEDIA', mediaType: 'image/url'}],
                            hidden: true,
                            category: categories,
                            material: materials,
                            genre: genres,
                        }),
                        success: function (result, status, xhr) {
                            if (xhr.status === 200) {
                                alert('Added');
                                window.location.href = '/profile';
                            } else {
                                alert(result);
                            }
                        },
                        error: function (err) {
                            alert(err.responseText);
                            console.log(err)
                        }
                    })
                });
            });
        </script>
        <hr>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h4>Create item</h4>
                <form style="margin: 100px 0;">
                    <div class="form-group" id="info"></div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title of item">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description"
                                  placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="medias">Image url</label>
                        <input id="medias" type="text" class="form-control" name="medias" placeholder="Url to image">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-light" data-toggle="collapse"
                                data-target="#categoriesSpoiler" role="button"
                                aria-expanded="false" aria-controls="categoriesSpoiler">Categories
                        </button>
                        <div class="collapse" id="categoriesSpoiler">
                            <ul id="categories">
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-light" data-toggle="collapse"
                                data-target="#genresSpoiler" role="button"
                                aria-expanded="false" aria-controls="genresSpoiler">Genres
                        </button>
                        <div class="collapse" id="genresSpoiler">
                            <ul id="genres">
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-light" data-toggle="collapse"
                                data-target="#materialsSpoiler" role="button"
                                aria-expanded="false" aria-controls="materialsSpoiler">Materials
                        </button>
                        <div class="collapse" id="materialsSpoiler">
                            <ul id="materials">
                            </ul>
                        </div>
                    </div>

                    <button id="createItem" type="button" class="btn btn-primary">Create</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</main>
<footer th:include="fragments/footer.html :: footer"></footer>
</body>
</html>